.productPage {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 5rem;
  padding-top: 100px;
  @media (max-width: 768px) {
    width: 100%;
    padding: 1rem; /* Reduce padding for mobile */
  }
}

.productContainer {
 
  display: flex; position: relative;
  gap: 2rem;
  @media (max-width: 768px) {
    flex-direction: column; /* Stack sections vertically on mobile */
    gap: 1rem;
  }

  .imageSection { 
    position: relative;
    flex: 1;
    background-color: #FFF4E9;
    max-width: 612px !important;
    max-height: 412px;
    border-radius: 30px;   

    .mainImage {
      // width: 100%;
     
      border-radius: 10px;
  
      margin: auto auto;
      width: 300px;
      height: 360px;
      object-fit: contain;
    }

    .imageCarousel {
margin: 10px;
padding: 10px;
gap: 10; 
margin-top: 4rem;
// background-color: #555;
      .thumbnaildiv {
     padding: 10px;
       display: flex;
        width: 144px;
        height: 162px;
        object-fit: cover;
        cursor: pointer;
      background-color: #FFF4E9;  border-radius: 30px;
        transition: transform 0.2s;
        @media (max-width: 768px) {
          width: 150px;
          margin: 0 20px;
          height: 162px;
        }

        img{
          width: 80%;
          height: 80%;
          object-fit: cover;
          margin: auto;
        }
        &:hover {
          transform: scale(1.05);
        } @media (max-width: 768px) {
          width: 80px; /* Smaller thumbnails on mobile */
          height: 80px;
          border-radius: 5px;
        }
      }
    }
  }

  .detailsSection {
    flex: 1;     @media (max-width: 768px) {
     margin-top: 100px;
     
    }

    .productTitle {
      font-size: 48px;
      font-weight: bold;    @media (max-width: 768px) {
      font-size: 32px;
      }
    }

    .description {
      margin: 1rem 0;
      font-size: 18px;
   
      color: #555; @media (max-width: 768px) {
        font-size: 16px;
        }
    }

    .pricing {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 20px; @media (max-width: 768px) {
        font-size: 18px;
        }

      .originalPrice {
        text-decoration: line-through;
        color: #999;  @media (max-width: 768px) {
          font-size: 18px;
          }
      }

      .discountedPrice {

        font-size: 1.5rem;
        font-weight: bold;  @media (max-width: 768px) {
          font-size: 18px;
          }
      }
    }

    .rating {
      margin: 1rem 0;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 18px;  @media (max-width: 768px) {
        font-size: 18px;
        }
    }

    .quantity {
      font-size: 20px;
      display: flex;
      gap: 1rem;
      align-items: center;  @media (max-width: 768px) {
        font-size: 18px;
        }
.quantitySelect{
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 20px;  @media (max-width: 768px) {
    font-size: 18px;
    }
}
      .counter {
        border: 2px solid #555;  @media (max-width: 768px) {
          font-size: 18px;
          }
      

        button {
          background: #ddd;
          padding: 0.5rem;
          border: none;
          cursor: pointer;  @media (max-width: 768px) {
            font-size: 18px;
            }
        }

        input {
          text-align: center;
          width: 2rem;
          border: none; 
        }
      }
    }

    .buyNow {
      background-color: #226160;
      color: white;
      border: none;
      padding: 1rem 2rem;
      cursor: pointer;
      border-radius: 5px;
      width: 640px;
      margin: 20px;
      border-radius: 30px;  font-size: 20px;
      @media (max-width: 768px) {
   width: 90vw;
   margin: 20px auto;
        }
      &:hover {
        background-color: #2c8a88;
      }
    }
.buyamazonbtn{
  background-color: #636363;
  color: white;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 5px;
  width: 640px;
  margin: 5px 0 20px 20px ;
  border-radius: 30px;  font-size: 20px; 
  img{
    width: 20px; 
    height: 20px;
  }
  @media (max-width: 768px) {
width: 90vw;
margin: 20px auto;
    }
  &:hover {
    background-color: #2c8a88;
  }
}
    .bulkLink {
      margin: 1rem 0;
    }

    .paymentMethods img {
      margin-right: 1rem;
    }

    .certification {
      margin-top: 2rem;

      h3 {
        margin-bottom: 1rem;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
.quantityContainer{
  width: 90px;
  text-align: center;
  margin:0 10px; border: 1.5px solid grey;
  display: flex;  display: flex;
  align-items: center;position: relative;
  gap: 0.5rem;  justify-content: space-evenly;
  border-radius: 20px;
  font-size: 20px;
  padding: 3px 10px;
  
}
.reviewsSection {
  margin-top: 200px;
  position: relative;
  .review {
    margin-bottom: 2rem;
  }

  .writeReview {
    .ratingInput {
      margin-bottom: 1rem;
    }

    .reviewActions {
      display: flex;
      gap: 1rem;

      .cancel {
        background-color: #f5f5f5;
        color: black;
      }

   
    }
  }
}
.certimg{
  width: 80%;
  margin: 0 auto;  @media (max-width: 768px) {
   width: 100%;
    }
}